@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 500;
  width: minmax(500px, 100vh);
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

#navbar {
  margin-left: auto;
}
#navbar span {
  margin: auto;
}
#navbar a,
.a-con a {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  transition: 0.32s;
}
#navbar a:hover,
.a-con a:hover {
  font-weight: 600;
  color: rgb(11, 67, 234);
  transform: scale(1.1);
}
/* navbar Ends */
#home .container-fluid {
  width: inherit;
  height: 100vh;
  /* background-color: red; */
  /* background-color:rgb(245, 245, 245); */
  background-image: url("/images/homebanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#home,
.home-text {
  margin-left: 100px;
}
#home .home-text h3,
#home .home-text h4 {
  font-size: 45px;
  color: rgb(0, 0, 0);
  font-family: "Marcellus", serif;
  border-radius: 0px 60px;
}
#home .home-text h4 {
  text-align: center;
}
#home .home-text strong {
  color: rgb(11, 67, 234);
}
#home .home-text h1 {
  color: rgb(11, 67, 234);
  font-family: "Libre Baskerville", serif;
  letter-spacing: 2px;
  font-size: 65px;
}
/* home Ends */
/* bio */
#bio .container-fluid {
  color: rgb(0, 0, 0);
  width: inherit;
  height: 100vh;
  /* background-color: red; */
  background-color: rgb(207, 208, 204);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
#bio .container-fluid .bioimg img {
  width: 80%;
  float: left;
  margin-left: 100px;
  border-radius: 10px 0px;
  transition: 1s;
}
#bio .container-fluid .bioimg img:hover {
  transform: scale(1.02);
}
#bio .container-fluid .row {
  display: flex;
  justify-content: center;
  align-items: start;
  /* background-color:red; */
}
#bio .container-fluid .biotext {
  text-align: justify;
  font-size: 15px;
  text-indent: 80px;
  transition-duration: 1s;
}
#bio .container-fluid h2 {
  font-family: "Libre Baskerville", serif;

  margin-left: 100px;
  margin-bottom: 50px;
}
#bio .biotext::first-letter {
  font-size: 30px;
}
#bio .biotext:hover {
  transform: translate(-5px, -10px);
}
/* bio ends */
/* fame starts */
#fame .container-fluid {
  color: rgb(0, 0, 0);
  width: inherit;
  height: 100vh;
  /* background-color: red; */
  background-color: rgb(207, 208, 204);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
#fame .container-fluid .container {
  height: 90vh;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  gap: 20px;
  grid-template-areas:
    "box1 box3"
    "box1 box3"
    "box2 box3"
    "box2 box3";
  overflow: hidden;
}
#fame .container-fluid .container .section1 {
  /* background-color: rgb(30, 255, 0); */
  grid-area: box1;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 7px;
}
#fame .container-fluid .container .section2 {
  /* background-color: rgb(0, 30, 255); */
  grid-area: box2;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 7px;
}
#fame .container-fluid .container .section3 {
  /* background-color: rgb(255, 0, 225); */
  grid-area: box3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 159px);
  gap: 10px;
  margin-block: 15px;
  margin-inline: 10px;
}
#fame .container .box {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.5s;
}
#fame .container .box img {
  overflow: hidden;
  width: 80%;
  aspect-ratio: 1/1;
  background-size: cover;
  transition: 1s;
  cursor: pointer;
}
#fame .container .box img:hover {
  transform: scale(1.1);
}
#fame .section1 img {
  background-size: cover;
}
#fame .section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#fame .section2 video {
  width: 123%;
}
#fame .section3 .box-3 img,
#fame .section3 .box-8 img {
  width: 60%;
  height: 120px;
}
#fame .section3 .box-4 img,
#fame .section3 .box-9 img {
  width: 60%;
  height: 120px;
}
#fame .section3 .box-5 img {
  width: 30%;
  height: 120px;
}
#fame .section3 .box-6 img,
#fame .section3 .box-10 img,
#fame .section3 .box-11 img,
#fame .section3 .box-12 img {
  width: 120%;
  height: 120px;
}
#fame .section3 .box-7 img {
  width: 40%;
  height: 120px;
}
#fame .section3 .box-1:hover,
#fame .section3 .box-5:hover,
#fame .section3 .box-7:hover {
  background: linear-gradient(
    95deg,
    rgba(255, 195, 88, 1) 0%,
    rgba(221, 161, 18, 1) 41%,
    rgba(153, 126, 16, 0.9976365546218487) 90%
  );
}
#fame .section3 .box-4:hover,
#fame .section3 .box-9:hover {
  background: linear-gradient(
    130deg,
    rgba(88, 229, 255, 1) 0%,
    rgba(18, 158, 221, 1) 41%,
    rgba(16, 85, 153, 0.9976365546218487) 90%
  );
}
#fame .section3 .box-6:hover,
#fame .section3 .box-2:hover,
#fame .section3 .box-10:hover,
#fame .section3 .box-11:hover,
#fame .section3 .box-12:hover {
  background: linear-gradient(
    130deg,
    rgba(147, 88, 255, 1) 0%,
    rgba(34, 47, 142, 1) 41%,
    rgba(127, 31, 222, 0.9976365546218487) 90%
  );
}
#fame .section3 .box-3:hover,
#fame .section3 .box-8:hover {
  background: linear-gradient(
    130deg,
    rgba(96, 88, 255, 1) 0%,
    rgba(142, 34, 130, 1) 46%,
    rgba(222, 31, 153, 0.9976365546218487) 90%
  );
}
#fame .container .box:hover {
  transform: scale(1.2);
  border: 3px solid rgb(233, 181, 9);
}
/* fame ends */
/* contact */
#contact .container-fluid {
  color: rgb(0, 0, 0);
  width: inherit;
  height: 70vh;
  /* background-color: red; */
  background-color: rgb(207, 208, 204);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#contact .container {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "box1 box1 box2 box2 box2"
    "box1 box1 box2 box2 box2"
    "box1 box1 box2 box2 box2"
    "box3 box3 box3 box3 box3";
}
#contact .container .box1 {
  /* background-color: red; */
  grid-area: box1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact .container .box2 {
  /* background-color: rgb(0, 34, 255); */
  grid-area: box2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
#contact .container .box3 {
  /* background-color: rgb(0, 34, 255); */
  grid-area: box3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#contact .container .box2 .section {
  width: 80vh;
}
#contact .container .box2 .section form {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
#contact input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 10px;
}
#contact .container .box2 .section form button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #0a8bf5;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 10px 10px 0;
}
#contact .box1 .card-body {
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
#contact marquee{
  font-family: 'Kaushan Script', cursive;
  font-size: 70px;
  width: 115%;
  height: 100px;
  background-color: rgb(250, 210, 10);
  display: flex;
  align-items: center;
}
.footer .center {
  display: flex;
  justify-content: end;
}
.footer section .row {
  width: 99%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
.footer section .images {
  width: 110px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
