@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600&display=swap");
:root {
  --bgColor: #320073;
  --secColor: #ff00a5;
  --translateZ: 549px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: var(--bgColor);
  font-family: "AR One Sans", sans-serif;
}
.navbar {
  font-family: "AR One Sans", sans-serif;
  font-weight: 500;
  background-color: var(--secColor) !important;
  transition: all 0.3s ease-in-out;
  color: black;
}
.nav-active {
  background-color: var(--secColor) !important;
  box-shadow: 5px -1px 12px -5px grey;
}
.extragap{
  padding: 1rem;
}
#home {
  height: 100dvh;
  display: flex;
  justify-content: center;
  background: rgb(2, 0, 36) !important;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(18, 8, 37, 1) 51%,
    rgba(50, 0, 115, 1) 100%
  ) !important;
}
.extra{
  display: none;
}
#home .video-block {
  min-width: 100%;
  background: rgb(2, 0, 36) !important;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 5%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    transparent 95%
  );
  mask-image: linear-gradient(
    180deg,
    transparent 5%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    transparent 95%
  );
}
#home .video-block video {
  width: 100%;
  aspect-ratio: 16/11;
  opacity: 30%;
  object-fit: cover;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}
.text-overlay h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.text-overlay h5 {
  font-size: 18px;
}
.text-overlay h6 {
  color: var(--secColor);
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  border: 1px dashed var(--secColor);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px;
}
.cta-button:hover,
.cta-button:hover i {
  background-color: var(--secColor);
  color: var(--bgColor);
}
.text{
  text-align: center;
}
.text-box{
  padding-block:1rem;
  text-align: center;
  border: 1px dashed var(--secColor);
  border-radius:10px ;
  color: var(--secColor);
}
.red {
  background-color: red !important;
}
/* home Ends */
/* bio */
#bio {
  background-color: var(--bgColor);
  flex-wrap: wrap;
}
#bio .bio-text {
  text-align: justify;
  font-size: 14.4px;
  font-weight: 500;
  border: 1px dashed var(--secColor);
  border-radius: 5px;
  position: relative;
}
#bio h4 {
  color: var(--secColor);
}
#more {
  display: none;
}
#myBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  color: var(--secColor);
  border: 1px dashed var(--secColor);
}
#myBtn:hover {
  background-color: var(--secColor);
  color: var(--bgColor);
}
/* ---------------------------bio ends ----------------------*/
/* fame starts */
#fame {
  min-height: 50vh;
  gap: 1rem;
  display: flex;
}
#fame .card-2 {
  flex-basis: 100%;
  flex-grow: 1;
  max-width: 25rem;
  padding: 1rem;
  background: rgb(5, 125, 192);
  background: linear-gradient(
    165deg,
    rgba(5, 125, 192, 1) 0%,
    rgb(244, 3, 128) 100%
  );
  color: white;
  border: none;
  transition: all 0.5s ease-in-out;
  /* border: 1px dashed black; */
}
#fame .card-2:hover {
  transform: rotateY(360deg);
  transition: all 1s ease-in-out;
}

#fame .card-img img,
#fame .card-img1 img {
  width: 100%;
  aspect-ratio: 16/6;
  object-fit: cover;
  border-radius: 5px;
}
#fame .card-img1 img {
  aspect-ratio: 16/10;
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    transparent 100%
  );
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
}
#fame table {
  width: 100%;
}
#fame table td,
#fame table td b {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: white;
}
#fame table td div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#fame .stats h5,
#fame .stats span {
  color: rgb(255, 255, 255);
  font-size: 17px;
}
#fame,
#fame .left-text,
#fame .cards {
  gap: 1rem;
}
.content-headers {
  color: var(--secColor);
  font-style: italic;
}
#fame .card-2 .stats td {
  color: white;
}

#glory {
  min-height: 50vh;
}
#glory .section {
  display: block;
  gap: 1rem;
}
#glory .section .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--secColor);
  border-radius: 5px;
  padding: 1rem;
  transition: all 1s ease-in-out;
}
#glory .section .box img {
  max-width: 7rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  padding: 0.5rem;
}
#glory .section .box-1 img,
#glory .section .box-6 img,
#glory .section .box-10 img,
#glory .section .box-11 img,
#glory .section .box-12 img {
  object-fit: cover;
}
#glory .section .box-1:hover,
#glory .section .box-5:hover,
#glory .section .box-7:hover {
  background: linear-gradient(
    95deg,
    rgba(255, 195, 88, 1) 0%,
    rgba(221, 161, 18, 1) 41%,
    rgba(153, 126, 16, 0.9976365546218487) 90%
  );
}
#glory .section .box-4:hover,
#glory .section .box-9:hover {
  background: linear-gradient(
    130deg,
    rgba(88, 229, 255, 1) 0%,
    rgba(18, 158, 221, 1) 41%,
    rgba(16, 85, 153, 0.9976365546218487) 90%
  );
}
#glory .section .box-6:hover,
#glory .section .box-2:hover,
#glory .section .box-10:hover,
#glory .section .box-11:hover,
#glory .section .box-12:hover {
  background: linear-gradient(
    130deg,
    rgba(147, 88, 255, 1) 0%,
    rgba(34, 47, 142, 1) 41%,
    rgba(127, 31, 222, 0.9976365546218487) 90%
  );
}
#glory .section .box-3:hover,
#glory .section .box-8:hover {
  background: linear-gradient(
    130deg,
    rgba(96, 88, 255, 1) 0%,
    rgba(142, 34, 130, 1) 46%,
    rgba(222, 31, 153, 0.9976365546218487) 90%
  );
}
#glory .box:hover {
  cursor: pointer;
  transform: scale(1.05);
}
/* fame ends */
#contact {
  min-height: 50vh;
  margin-top: 5rem;
}
#contact form {
  min-width: 80%;
  padding: 1rem;
  gap: 1rem;
}
#contact .inform {
  width: 100%;
  gap: 1rem;
}
#contact form input[type="text"],
#contact input[type="email"] {
  flex-basis: 49.25%;
  flex-grow: 1;
}

#contact form input[type="text"],
input[type="email"] {
  width: 100%;
  height: 3rem;
  padding: 10px;
  border: 1px dashed var(--secColor);
  border-radius: 5px;
  background: rgba(207, 27, 207, 0.168);
  backdrop-filter: blur(10px);
  color: white;
}
#contact ::placeholder {
  color: var(--secColor);
}
#contact form button {
  padding: 0.5rem 2rem;
  font-size: 17px;
}
#contact form,
textarea {
  min-width: 100%;
  padding: 10px;
  border-radius: 5px;
}
#contact button a,#contact button i {
  text-decoration: none;
  color: var(--secColor);
}
#contact button:hover {
  background-color: var(--secColor);
  color: var(--bgColor);
}
#contact button:hover a,#contact button:hover i {
  color: var(--bgColor);
}
#contact form textarea,
button {
  border: 1px dashed var(--secColor);
  border-radius: 5px;
  background: transparent;
  backdrop-filter: blur(10px);
  background: rgba(207, 27, 207, 0.168);
}
footer section,
footer div {
  background-color: var(--secColor) !important;
}
footer .center {
  display: flex;
  justify-content: end;
}
footer section .row {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer section .images {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer section .images .csk {
  mix-blend-mode: multiply;
}
#icons i{
  color: var(--bgColor);
  padding:0.7rem;
  border: 1px dashed var(--bgColor);
  border-radius: 10px;
}
#icons i:hover {
  background-color: var(--bgColor);
  color: var(--secColor);
}
@media all and (max-width: 1222px) {
  #fame {
    display: flex;
    flex-direction: column;
  }
  #fame .card-2 {
    max-width: 100%;
  }
}
@media all and (min-width: 768px) {
  #home .home-text {
    text-align: center;
  }
  .extra{
    display: block;
  }
  #bio .bio-text .bio-content {
    columns: 2;
    gap: 2rem;
  }
  #bio .bio-text h4 {
    font-weight: 600;
  }
  #fame {
    display: flex;
    flex-direction: row;
  }
  #fame .card-img{
    text-align: center;
    padding: 10px;
  }
  #fame .stats h5,
  #fame .stats span {
    font-size: 1rem;
  }
  #glory .section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
  }
}
@media all and (min-width: 1068px) {
  #glory .section {
    grid-template-columns: repeat(6, 1fr);
  }
}
