@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600&display=swap");
:root {
  --bgColor: #320073;
  --secColor: #ff00a5;
  --translateZ: 549px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: var(--bgColor);
  font-family: "AR One Sans", sans-serif;
}
.navbar {
  font-family: "AR One Sans", sans-serif;
  font-weight: 500;
  background-color: transparent !important;
  transition: all 0.3s ease-in-out;
  color: black;
}
.nav-active {
  background-color:var(--secColor) !important;
  box-shadow: 5px -1px 12px -5px grey;
}
#home {
  height: 100dvh;
  /* background: red; */
  background-image: url("homebanner.jpg");
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#home .home-text h3,
#home .home-text h4 {
  font-size: 45px;
  color: rgb(0, 0, 0);
  font-family: "Marcellus", serif;
  border-radius: 0px 60px;
}
#home .home-text h4 {
  text-align: center;
}
#home .home-text strong {
  color: rgb(11, 67, 234);
}
#home .home-text h1 {
  color: rgb(11, 67, 234);
  font-family: "Libre Baskerville", serif;
  letter-spacing: 2px;
  font-size: 65px;
}
/* home Ends */
/* bio */
#bio {
  min-height: 100vh;
  background-color: var(--bgColor);
  flex-wrap: wrap;
}
#bio .bio-text {
  text-align: justify;
  font-size: 14.4px;
  font-weight: 500;
  border: 1px dashed var(--secColor);
  border-radius: 5px;
  position: relative;
}
#bio h4 {
  color: var(--secColor);
}
#more {
  display: none;
}
#myBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  color: var(--secColor);
  border: 1px dashed var(--secColor);
}
#myBtn:hover {
  background-color: var(--secColor);
  color: var(--bgColor);
}
/* ---------------------------bio ends ----------------------*/
/* fame starts */
#fame {
  min-height: 100vh;
  gap: 1rem;
  display: block;
}
#fame .card {
  max-width: 30rem;
  background-color: white;
  border: none;
  background: rgb(5, 125, 192);
  background: linear-gradient(
    171deg,
    rgb(244, 3, 128) 0%,
    rgba(5, 125, 192, 1) 100%
  );
}
#fame .card-2 {
  max-width: 20rem;
  background: rgb(5, 125, 192);
  background: linear-gradient(
    165deg,
    rgba(5, 125, 192, 1) 0%,
    rgb(244, 3, 128) 100%
  );
  color: white;
  border: none;
  transition: all 0.5s ease-in-out;
  /* border: 1px dashed black; */
}
#fame .card-2:hover{
  transform: rotateY(360deg);
  transition: all 1s ease-in-out;
}

#fame .card-img img,
#fame .card-img1 img {
  width: 100%;
  aspect-ratio: 16/6;
  object-fit: cover;
  border-radius: 5px;
}
#fame .card-img1 img {
  aspect-ratio: 16/10;
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    transparent 100%
  );
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
}
#fame table {
  width: 100%;
}
#fame table td,
#fame table td b {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: white;
}
#fame table td div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#fame .stats h5,
#fame .stats span {
  color: rgb(255, 254, 254);
  font-size: 0.6rem;
}

#fame .right-container,
#fame .left-text {
  border: 1px dashed var(--secColor);
  border-radius: 5px;
  gap: 1rem;
}
.content-headers {
  color: var(--secColor);
  font-style: italic;
}
#fame .card-2 .stats td {
  color: white;
}

#glory {
  min-height: 100vh;
}
#glory .section {
  gap: 1rem;
}
#glory .section .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--secColor);
  border-radius: 5px;
  padding: 1rem;
  transition: all 1s ease-in-out;
}
#glory .section .box img {
  max-width: 7rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  padding: 0.5rem;
}
#glory .section .box-1 img,
#glory .section .box-6 img,
#glory .section .box-10 img,
#glory .section .box-11 img,
#glory .section .box-12 img {
  object-fit: cover;
}
#glory .section .box-1:hover,
#glory .section .box-5:hover,
#glory .section .box-7:hover {
  background: linear-gradient(
    95deg,
    rgba(255, 195, 88, 1) 0%,
    rgba(221, 161, 18, 1) 41%,
    rgba(153, 126, 16, 0.9976365546218487) 90%
  );
}
#glory .section .box-4:hover,
#glory .section .box-9:hover {
  background: linear-gradient(
    130deg,
    rgba(88, 229, 255, 1) 0%,
    rgba(18, 158, 221, 1) 41%,
    rgba(16, 85, 153, 0.9976365546218487) 90%
  );
}
#glory .section .box-6:hover,
#glory .section .box-2:hover,
#glory .section .box-10:hover,
#glory .section .box-11:hover,
#glory .section .box-12:hover {
  background: linear-gradient(
    130deg,
    rgba(147, 88, 255, 1) 0%,
    rgba(34, 47, 142, 1) 41%,
    rgba(127, 31, 222, 0.9976365546218487) 90%
  );
}
#glory .section .box-3:hover,
#glory .section .box-8:hover {
  background: linear-gradient(
    130deg,
    rgba(96, 88, 255, 1) 0%,
    rgba(142, 34, 130, 1) 46%,
    rgba(222, 31, 153, 0.9976365546218487) 90%
  );
}
#glory .box:hover {
  background-color: red;
  transform: scale(1.05);
}
/* fame ends */
.footer .center {
  display: flex;
  /* background-color: red; */
  justify-content: end;
}
.footer section .row {
  width: 99%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
.footer section .images {
  width: 110px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer section .images .csk {
  mix-blend-mode: multiply;
}
@media all and (max-width: 1222px) {
  #home{
    background-image: url("homebannermbl.jpg") !important;
  }
  #fame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #fame .left-container {
    align-items: center;
  }
  #fame .left-text {
    border: none;
  }
  #glory .section{
   display: block;
  }
  
}
@media all and (min-width: 768px) {

  #home .home-text {
    text-align: center;
  }

  #bio .bio-text .bio-content {
    columns: 2;
    gap: 2rem;
  }
  #bio .bio-text h4 {
    font-weight: 600;
  }
  #fame {
    display: flex;
    flex-direction: row;
  }
  #fame .stats h5,
  #fame .stats span {
    font-size: 0.9rem;
  }
  #glory .section{
    grid-template-columns: repeat(6,1fr);
  }
}
